*
{ 
margin:0;
padding:0;
}
/*----------Navigation----------*/
#nav-bar
{
	position:sticky;
	top: 0;
	opacity:0.8;
	text-align:center;
	width:100%;
    z-index:100;
}
nav > a > i:hover{
	color:#007bff;
}
.navbar-brand i
{
	background:#000000;
	height:25px;
	color:#ffffff;
	width:100%;
	padding-left:10%;
}

/* .navbar-brand i a:hover {
	color: #007bff;
} */
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
    font-size:18px;
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff !important;
}
.navbar
{ 
    background:#000000;
}
.navbar-toggler
{
	border:none!important;
}
.nav-link
{
color:#ffffff!important;
font-weight:600px;
font-size:14px;
}
@media only screen and (max-width: 960px)
{
	#nav-bar
	{
    position:relative;
	top: 0;
	text-align:center;
	width:100%;
    z-index:1;
	}	
    #nav-bar ul li a
     {
	padding-right:29%;
	padding-left:10%;
     }
	.navbar-brand i
{
	background:#d9e1e3;
	height:25px;
	color:#000;
	width:100%;
	padding-left:5%;
}
	.navbar-nav li a
	{
	 float:left;
	 font-size:20px;
	}
	.nav-link
    {
     color:#000!important;
     font-weight:600px;
     font-size:18px;
    }
	.navbar
    { 
     background:#d9e1e3;
    }
}
/*------Slider------*/
#slider
{
	width:100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h2
{
	color: #000000;
	font-family:italic;
	font-size: 42px;
}
.button
{
	border:solid;
	color:#ffffff;
	background-color:inherit;
    padding:15px 32px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	margin:4px 2px;
	display:inline-block;
	border-radius:30px;
}
.button:hover
{
	background:none;
	color:#007bff;
}
#nav-bar h3::after
{
	content: '';
	background:#ffffff;
	display:block;
	height:3px;
	width:170px;
	margin:5px auto 5px;
}
#slider a
{
	text-decoration:none;
}
@media only screen and (max-width: 960px)
{
.carousel-caption h2
{
font-size:100%;
}
.carousel-caption h3
{
font-size:70%;
}
h3::after
{
	content:'';
	height:1px;
	width:70px;
	margin:10px auto 3px;
}
.button
{
color:#ffffff;
font-size:70%;
padding:2px 2px;
}
.button:hover
{
color:#007bff;
}
p
{
font-size:100%;
line-height:100%;
} 
}
/*-------Destination-------*/
#destination
{
	padding-top: 50px;
	padding-bottom: 50px;
	color:#555;
}
#destination h2
{
	color:#000000;
	text-align:left;
}
#destination .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.destination-content
{
	padding-top: 5px;
}
/*-------Activities-------*/
#activities 
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/activities.jpg);
	background-size:cover;
	background-position:center;
	color:#efefef !important;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
	}
#activities h1
{
	text-align: center;
	color: #ffffff !important;
	padding-bottom: 10px;
}
#activities h2
{
	text-align: center;
	color: #ffffff !important;
	padding-bottom: 10px;
}
.activities
{
	margin-top:40px;
}
.icon
{
	font-size:40px;
	margin:20px auto;
	padding:20px;
	height:80px;
	width:80px;
	border:1px solid #fff;
	border-radius:50%;
}
#activities a
{
	text-decoration:none;
}
#activities p
{
	font-size:14px;
	margin-top:20px;
	color:#ccc;
}
.activities .col-md-4:hover
{
background:none;
cursor:pointer;
transition:0.5s;	
}
/*------Gallery------*/
#gallery h2
{
	text-align:center;
	color:#000000!important;
	padding-bottom:10px;
}
#gallery
{
	color: #fff;
	text-align:center;
	padding:50px;
	font-family:sans-serif;
	font-size:60px;
}
#gallery h3
{
	text-align:center;
	color:#000000 !important;
	padding:10px;
	padding-bottom:10px;
}
#gallery a
{
	text-decoration:none;
}
.box_image
{
	max-width:100%;
	height:150px;
	border:double;
	color:#555;
}
/*-------About-------*/
#about
{
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/contact.jpg);
	background-position:center;
	background-size:cover;
	color:#efefef !important;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
}
#about h1
{
	text-align:center;
	color:#ffffff !important;
	padding-bottom:10px;
}
.profile-pic
{
margin-top:25px;
}
.profile-pic .img-box
{
opacity:1;
display:block;
position:relative;
}
.profile-pic .img-box img
{
	filter:grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter:grayscale(0);
	cursor:pointer;
}
.profile-pic h2
{
	font-size:22px;
	font-weight:bold;
	margin-top:15px;
	color:#007bff !important;
}
.profile-pic h3
{
	font-size:15px;
	font-weight:bold;
	margin-top:15px;
}
#about .fa
{
	height:25px;
	width:25px;
	color:#007bff !important;
	background:#fff;
	padding:4px;
	border-radius:50%;
}
.img-box ul
{
	padding:15px 0;
	position:absolute;
	z-index:2;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	opacity:0;
}
.img-box ul li
{
	padding:5px;
	display:inline-block;
}
.img-box:hover ul
{
	opacity:1;
}
.img-box ul, .img-box ul li
{
	transition:0.5s;
}
/*-------Contact-------*/
#contact
{	
	color:#efefef !important;
	padding-top:30px;
	padding-bottom:30px;
}
#contact h1
{
	text-align:center;
	color:#000000 !important;
	padding-bottom:10px;
}
#contact a
{
	text-decoration:none;
}
.contact
{
	margin-top:20px;
}
.contact .icon
{
	font-size:60px;
	margin:20px auto;
	padding:17px;
	height:90px;
	width:90px;
	border:2px solid #000000;
}
#contact p
{
	font-size:14px;
	margin-top:20px;
	color:#000000;
}
.contact .col-md-4:hover
{
	background:none;
	cursor:pointer;
	transition:0.7s;
}
/*------Top------*/
.cd-top.cd-is-visible
{
    visibility: visible;
    opacity: 0.5s;
}
.cd-top.cd-fade-out {
    opacity: 0.3;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .9s 0s, visibility 0s 0s;
    -moz-transition: opacity .9s 0s, visibility 0s 0s;
    transition: opacity .9s 0s, visibility 0s 0s;
    color: #fff;
	text-decoration:none;
}
.cd-top {
    z-index: 99;
	float:right;
    background:none !important;
    height: 40px;
    width: 40px;
    position:absolute;
    right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 40px;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
a {
    color: #3f4db8;
}
a, button {
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}
.fa-angle-up:before {
    content: "\f106";
}
*:before, *:after {
    box-sizing: inherit;
}
/*-------footer-------*/
#footer
{
	background:#333;
	color:#fff;
	padding:12px;
    position:relative;
	height:200px;
	clear:both;
}
#footer .global a
{
	color:#ffffff;
	text-decoration:none;
}
footer[role='contentinfo'] .global ul li {
	margin-top: 10px;
    text-align:center;   
    display: inline-block;
    padding:10px;
	cursor:pointer;
}
@media only screen and (max-width: 960px)
{
	#footer
	{
	background:#333;
	color:#fff;
	padding:12px;
    position:relative;
	height:250px;
	clear:both;
}
}
@media only screen and (max-width: 960px)
{
footer[role='contentinfo'] .global ul li 
{
	text-align:left;
    display: block;
    border-right: none;
    padding: 0;
    margin: 0 0 1rem;
}
}
	





	







